.menuItem {
    color: var(--black);
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.7;
    font-weight: 400;
}

.activeMenuItem {
    transition: 300ms all ease-in-out;
    font-weight: 900;
}