.commentBoxBodyWrap {
    display: flex;
    align-items: flex-end;
    margin-top: 10px;
}

.body {
    font-weight: 500;
    color: #000;
    width: 80%;
}

.showMore {
    font-weight: 300;
    font-size: 13px;
    cursor: pointer;
}
