.commentBoxBodyWrap {
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    align-items: flex-start;
}

.body {
    font-weight: 500;
    color: #000;
    width: 75%;
    font-size: 15px;
    letter-spacing: -0.5px;
    text-align: justify;
}

.showMore {
    font-weight: 300;
    font-size: 12px;
    cursor: pointer;
}
