body {
    font-family: dana;
    font-size: 1rem;
}

button, input , textarea {
    font-family: dana;
}

::selection {
    background: #000;
    color: #fff;
}

*, *:before, *:after {
    box-sizing: border-box;
    outline: none;
}

p { 
    padding: 0;
    margin: 0;
}

.truncate { 
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fullWidth {
    width: 100% !important;
}


.bg-black {
    background: #000;
}

.text-white {
    color: #fff;
}